{% extends "layout/default.html.jinja" %} {% block content %}
<script>
  function deleteImage(id) {
    if (confirm("Do you really want to delete the image?")) {
      window.location.href = "/images/" + id + "/delete";
    }
  }
</script>

<h1 class="text-center text-xl md:text-4xl my-4 font-bold">Home</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for image in images %}
  <div class="bg-white shadow-md rounded-md p-4">
    <img src="{{ image.thumbnail_url }}" alt="{{ image.title }}" />
    <div class="text-lg font-bold">{{ image.title }}</div>
    <div>{{ image.description }}</div>
    <div class="text-sm text-gray-500 italic">{{ image.category }}</div>
    <div class="mt-4 flex justify-between gap-2">
      <button
        class="w-1/2 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-xs font-light text-white bg-red-300 hover:bg-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
        onclick="deleteImage('{{ image.id }}')"
        >{{ _("Delete") }}</button
      >
      <a
        class="w-1/2 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-xs font-light text-white bg-green-300 hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
        href="/images/{{ image.id }}/edit"
        >{{ _("Edit") }}</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% if images|length == 0 %}
<div class="text-center text-xl md:text-2xl my-4 mx-auto italic text-gray-500">
  {{_("No images found")}}
</div>
{% endif %} {% endblock %}
