<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link
      rel="shortcut icon"
      type="image/ico"
      href="{{ url_for('static', path='/img/favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='/css/styles.css') }}"
    />
    <title>Gallery</title>
  </head>

  <body>
    <div id="content" class="min-h-screen flex flex-col justify-between">
      <div class="bg-amber-400 flex justify-center" style="min-height: 10vh">
        <!-- Navbar -->
        {%block navbar %}
        <nav class="flex items-center justify-between w-1/2 mx-4 gap-2">
          <img
            src="{{ url_for('static', path='/img/logo.png') }}"
            alt="Sun rises behind a mountain"
            class="max-h-24"
          />
          <span
            class="text-center text-xl my-4 font-bold italic text-amber-900"
          >
            <a href="/">Gallery</a>
          </span>
          <!-- desktop -->
          <ul class="hidden md:flex space-x-4">
            {# with auth #} {% if is_authenticated %}
            <li>
              <a href="/images/add" class="underline text-amber-900">{{
                _("Add Image")
              }}</a>
            </li>
            <li>
              <a href="/logout" class="underline text-amber-900">{{
                _("Logout")
              }}</a>
            </li>
            {# without auth #} {% else %}
            <li>
              <a href="/login" class="underline text-amber-900">{{
                _("Login")
              }}</a>
            </li>
            {% endif %}
          </ul>
          <!-- mobile -->
          <div class="md:hidden flex items-center ml-8">
            <button class="mobile-menu-button">
              <svg
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16m-7 6h7"
                ></path>
              </svg>
            </button>
          </div>
        </nav>
        {% endblock %}
      </div>

      <!-- mobile menu -->
       <div class="mobile-menu hidden md:hidden">
        <ul class="flex flex-col items-center justify-center space-y-4 bg-amber-300 py-4">
          {# with auth #} {% if is_authenticated %}
          <li>
            <a href="/images/add" class="underline text-amber-900">{{
              _("Add Image")
            }}</a>
          </li>
          <li>
            <a href="/logout" class="underline text-amber-900">{{
              _("Logout")
            }}</a>
          </li>
          {# without auth #}
          {% else %}
          <li>
            <a href="/login" class="underline text-amber-900">{{ _("Login") }}</a>
          </li>
          {% endif %}
        </ul>
       </div>

      <main class="mx-auto max-w-xl mt-4 pb-4 md:px-0 px-2" style="min-height: 80vh">
        <!-- messages -->
        {% if messages %}
        <div class="bg-green-200 text-green-800 p-4 rounded-lg mb-4">
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
        <!-- errors -->
        {% if errors %}
        <div class="bg-red-200 text-red-800 p-4 rounded-lg mb-4">
          {% for error in errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
        <!-- content -->
        {% block content %}{% endblock %}
      </main>

      <div class="bg-gray-500" style="min-height: 5vh">
        <!-- Footer -->
        {% block footer %}
        <div class="mx-auto max-w-xl">
          <footer>
            <p class="text-white italic font-thin text-xs text-center mt-1">
              {{ _("Copyright") }} &copy; {{ year }} Gallery.
              {{ _("All rights reserved.") }}
            </p>
          </footer>
        </div>
        {% endblock %}
      </div>
    </div>

    <script>
      const btn = document.querySelector(".mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
